@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("BarlowSemiCondensed-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Barlow Semi Condensed";
    font-weight: bold;
    src: url("BarlowSemiCondensed-SemiBold.otf") format("opentype");
}
