:root {
  --div-margin: 1.5em;
  --input-margin: 9px;
}

article {
  background-color: #dbe4f0; /* 90% lightsteelblue */
  white-space: nowrap;
}

#task { /* title */
  width: calc(100% - 1em);
}

#procedure {
  white-space: normal;
  padding-left: var(--title-padding);
  padding-right: var(--title-padding);
  width: calc(100% + var(--scrollbar-width));
}

#procedure div {
  position: relative;
  white-space: nowrap;
}

#procedure div div {
  margin-left: var(--div-margin);
}

#procedure input {
  height: 1em;
  width: 1em;
  margin: var(--input-margin);
  vertical-align: top;
}

#procedure span {
  display: inline-block;
  position: relative;
  width: calc(100% - var(--div-margin) - var(--input-margin));
  padding: 2px;
  line-height: 1.5;
  white-space: normal;
}

#procedure button {
  font-family: inherit;
  font-size: large;
  font-weight: bold;
  height: 1.75em;
  padding-bottom: 4px;
  vertical-align: text-top;
  border-radius: 5px;
}

#procedure h2 {
  font-size: larger;
  font-style: italic;
}
