#head-table {
 background-color: white;
 position: fixed; /* keep table head fixed on the top of the screen */
 top: 40px;
 width: 100%;
 z-index: 1; /* hide data rows */
}

#head-table tr {
 display: flex;
 align-items: stretch;
}

#head-table td {
 flex: 1;
 display:inline-block;
}

#hits {
  font-style: italic;
}

body {
  margin-top: 90px;
}

img {
  margin: 5px;
  margin-left: 8px;
  margin-right: 10px;
  vertical-align: -12px;
  cursor: pointer;
}

td img {
  margin: 5px;
}

div {
  margin-left: 8px;
}

div div {
  margin-left: 36px;
}

span.link {
    color: royalblue;
    cursor: pointer;
}

span.red,
span.amber,
span.green {
 margin:  10px;
 padding:  0;
 display:  inline-block;
 width:    16px;
}

span.red {
 background-image: url("Topography_red.png");
 color:    #FF0000;
}

span.amber {
 background-image: url("Topography_amber.png");
 color:    #FF8800;
}

span.green {
 background-image: url("Topography_green.png");
 color:    #008800;
}
