:root {
  --grid-color: lightgray;
}

section {
  background-color: WhiteSmoke;
}

#view {
  width: calc(100% - 4em); /* give space to message and tools */
}

#message {
  position: absolute;
  right: 2em;
  width: 3em;
  text-align: right;
  vertical-align: top;
}

#tool {
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
  user-select: none;
}

#tools {
  display: none;
  position: absolute;
  top: var(--header-height);
  right: 5px;
  line-height: 1;
  background-color: white;
  border: solid thin tan;
  border-radius: 5px;
}

#tools span {
  display: block;
  font-weight: normal;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

#tools span:hover {
  background-color: wheat;
}

#data {
  overflow-x: auto;
  overflow-y: scroll;
  font-size: smaller;
}

#data th:last-child,
#data td:last-child {
  z-index: 6;
  transform: translate3d(0,0,0);
  position: sticky;
  padding: 0;
  right: 0;
  overflow: visible;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border:none;
}

#data th:last-child:hover,
#data td:last-child:hover,
#data th:last-child:active,
#data td:last-child:active {
  background-color: gray;
  color: white;
}

#data thead th, /* filter row */
#data thead td {/* title row */
  background-color: var(--grid-color);
  z-index: 7;
  transform: translate3d(0,0,0);
  position: sticky;
  height: 1.5em;
  top: 0;
}

#data thead th:last-child,
#data thead td:last-child {
  z-index: 7;
}

#data thead td {/* title row */
  top: 32px;
  font-weight: bold;
  padding-left: var(--title-padding);
  white-space: nowrap;
}

#data input {
  padding-left: calc(var(--title-padding) - 2px);
}

#data tbody td {
  border: solid thin var(--grid-color);
  vertical-align: top;
  padding-left: calc(var(--title-padding) - 2px);
  padding-right: calc(var(--title-padding) - 2px);
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: pre-wrap;
}

#data .mono {
  font-family: "Nova Mono", monospace;
  padding-top: 4px;
}
