section>header>h1 {
  width: calc(100% - 4em);
}

#message {
  position: absolute;
  right: 1em;
  width: 3em;
  text-align: right;
  vertical-align: top;
}

#tool {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
}

#tools {
  display: none;
  position: absolute;
  top: calc(var(--header-height) - 5px);
  right: 0;
  line-height: 1;
  background-color: white;
  border: solid thin tan;
  border-radius: 5px;
}

#tools span {
  display: block;
  font-weight: normal;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

#tools span:hover {
  background-color: wheat;
}

section>div.scrollbox.horizontal {
  overflow-x: auto;
  padding-right: var(--scrollbar-width);
}

section>div.scrollbox.vertical {
  width: var(--scrollbar-width);
  left: auto;
}

section>div.scrollbox>div.empty {
  height: 100%;
  border: solid; /* ensure minimal width to be scrollable */
}

section thead th, /* filter row */
section thead td {/* title row */
  z-index: 1;
  transform: translate3d(0,0,0);
  position: sticky;
  background-color: var(--light-background);
  height: 1.5em;
  top: 0;
}

section thead td {/* title row */
  top: 1.55em;
  border: none;
  font-weight: bold;
}

section tbody td {
  border: solid thin lightgray;
  vertical-align: top;
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: pre-wrap;
}
