body, input {
  font-family: 'Fira Sans', sans-serif;
  font-size: large;
}

#search {
  width: 100%;
  background-image: url('magnifier_glass.svg');
  background-size: auto 61.8%;
  background-position: 7px center;
  background-repeat: no-repeat;

  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;

  padding: 10px;
  padding-left: 40px;
}

#search:hover {
  border-color: skyblue;
}

#search:focus {
  outline: none;
  border-color: deepskyblue;
}

#menu div {
  line-height: 0;
  margin-left: 10px;
  cursor: pointer;
}

#menu span {
  display: inline-block;
  box-sizing: border-box;
  line-height: 2;
  width: 100%;
  padding-left: 24px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#menu span:hover {
  background-color: #e9dbc8;
  white-space: normal;
}

#menu span.hit {
  background-color: #d4d4f7; /* dark lavender */
  background-image: url('triangle_right.svg');
  background-size: auto 61.8%;
  background-position: right center;
  background-repeat: no-repeat;
}

#menu .branch {
  margin-left: -10px;
  width: calc(100% + 10px);
  background-size: auto 61.8%;
  background-position: 12px center;
  background-repeat: no-repeat;
  padding-left: 43px;
}

#menu .collapsed {
  background-image: url('triangle_right.svg');
}
#menu .expanded {
  background-image: url('triangle_down.svg');
}
#menu .filtered {
  background-image: url('triangle_down_right.svg');
}

#menu mark {
  background-color: lavender;
}
