:root {
  --menu-padding: 5px;
}

nav>header {
  z-index: 3;
  text-align: center;
}

#search {
  height: calc(100% - 2 * var(--menu-padding));
  width: calc(100% - 2 * var(--menu-padding));
  border-radius: var(--menu-padding);
  background-image: url('magnifier_glass.svg');
  background-size: auto 61.8%;
  background-position: 7px center;
  background-repeat: no-repeat;
}

#menu {
  padding-left: var(--menu-padding);
  padding-right: var(--menu-padding);
  width: calc(100% + var(--scrollbar-width) - var(--menu-padding) + 1px);
}

#menu div {
  line-height: 0;
  margin-left: calc(2 * var(--menu-padding));
}

#menu span {
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.75em;
  width: 100%;
  padding-left: 1em;
  border-radius: var(--menu-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  user-select: none; /* prevent text selection on double click */
}

#menu span:hover {
  background-color: #d4d4f7; /* dark lavender */
  white-space: normal;
}

#menu span.clicked {
  background-color: #e9dbc8;
  white-space: normal;
}

#menu span.hit {
  background-color: #d4d4f7; /* dark lavender */
  white-space: normal;
}

#menu mark {
  background-color: lavender;
}

#menu .branch {
  margin-left: calc(-2 * var(--menu-padding));
  width: calc(100% + 2 * var(--menu-padding));
  background-size: auto 1em;
  background-position: 0.5em 0.35em;
  background-repeat: no-repeat;
  padding-left: 1.8em;
}

#menu .collapsed {
  background-image: url('triangle_right.svg');
}
#menu .expanded {
  background-image: url('triangle_down.svg');
}
#menu .filtered {
  background-image: url('triangle_down_right.svg');
}
