body {
 min-width: 320px;
 margin-top: 50px;
}

header {
 border-bottom-color: green;
}

header div img {
 margin-top: -5px;
 cursor: pointer;
}

article {
 white-space: nowrap;
 padding-right: 25px; /* avoid horizontal scrollbar */
}

article div {
 margin-left: 25px;
}

article span {
 display: inline-block;
 white-space: normal;
 margin-top: 1px;
 margin-bottom: 8px;
 line-height: 1.5;
}

input[type="radio"],
input[type="checkbox"] {
 vertical-align: top;
 margin-right: 8px;
}

button {
 font-family: Arial Narrow;
 font-size: 11px;
 padding: 1px 5px 0 5px;
 line-height: 15px;
}

h2 {
 margin: 10px;
}

p.comment {
 margin-left: 15px;
 white-space: normal;
}

#context {
 position: fixed;
 right   : 10px;
 top     : 55px;
 color   : dodgerblue;
 font-weight: bold;
}
