aside {
  background-color: #eeeeee;
}

#FormTitle {
  width: calc(100% - 2em);
}

aside>footer {
  position: relative;
}

aside form {
  width: calc(100% - var(--scrollbar-width));
  margin: var(--title-padding);
}

aside table {
  table-layout: fixed;
  width: 100%;
}

aside table th {
  text-align: left;
  color: DarkSlateGray;
}

aside table td {
  padding-bottom: 10px;
  padding-right: 10px;
}

aside form input,
aside form select,
aside form textarea,
aside form button {
  font-size: large;
  padding: 5px;
}

aside [type="button"],
aside [type="submit"] {
  font-size: x-large;
  font-weight: bold;
}

aside form .feedback td {
  padding: 0;
  padding-left: 4em;
  font-size: large;
  font-style: italic;
}
