aside {
  background-color: #eeeeee;
}

#FormTitle {
  width: calc(100% - 2em);
}

#FormPanel {
  position: relative;
}

#FormPanel form {
  width: calc(100% - var(--scrollbar-width));
  margin: var(--title-padding);
}

#FormPanel table {
  table-layout: fixed;
  width: 100%;
}

#FormPanel table th {
  text-align: left;
  color: DarkSlateGray;
}

#FormPanel table td {
  padding-bottom: 10px;
}

#FormPanel form input,
#FormPanel form select,
#FormPanel form textarea,
#FormPanel form button {
  font-size: large;
  padding: 5px;
}

#FormPanel [type="button"],
#FormPanel [type="submit"] {
  font-size: x-large;
  font-weight: bold;
}

#FormPanel form .feedback td {
  padding: 0;
  padding-left: 4em;
  font-size: large;
  font-style: italic;
}

#FormProcess {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#FormProcess>img {
  position: absolute;
  top: var(--header-height);
  right: var(--scrollbar-width);
}
