table {
 table-layout: fixed; /* prevent size change */
 border-collapse: collapse;
}

tr {
 min-height: 25px;
}

input {
 border: solid thin;
 height: 16px;
}

table input, select {
 vertical-align: top;
 border-width: thin;
}

input:invalid, select:invalid {
 border-color: red;
}

input:valid, select:valid {
 border-color: green;
}

input.number {
 text-align: right;
}

/* SELECTION */

select {
  height: 20px;
  width: 100%;
}

div.selection {
  display: inline-block;
  position: relative;
}

  div.selection button {
    padding: 1px;
    padding-top: 2px;
  }

  div.selection input {
    font-style: italic;
    text-align: right;
    background-color: transparent;
    width: calc(100% - 24px);
  }

    div.selection input[readonly] {
      background-color: white;
    }

    div.selection input:not([readonly]) {
      position: absolute;
      left: 0;
      top: 0;
    }

    div.selection input::-ms-clear {
      display: none;
    }

    div.selection input.selected {
      background-color: white;
      font-style: normal;
      text-align: left;
    }

/* FIELDSETS */

fieldset {
  padding: 10px 0 10px 0;
  margin: 5px 5px 10px 5px;
  border: thin solid black;
}

fieldset legend {
  margin: 0 0 0 5px;
}

  fieldset th {
    text-align: right;
    padding: 4px 10px 0 10px;
  }

  fieldset th, td {
    vertical-align: top;
  }
