/*
::-webkit-scrollbar {
  display: none;
}
*/
:root {
  --font-size: large;
  --nav-width: 20em;
  --header-height: 2.5em;
  --aside-width: 10em;
  --light-background: white;
  --light-color: black;
  --dark-background: black;
  --dark-color: white;
}

body, input {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: var(--font-size);
  overflow: hidden;
}

h1 {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  font-size: var(--font-size);
  height: var(--header-height);
  line-height: var(--header-height);
  padding-left: 0.5em;
  background-color: var(--light-background);
  white-space: nowrap;
}

h1>span {
  font-size: larger;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  transform: translate3d(0, 0, 0); /* optimize scrolling */
  border-collapse: collapse;
}

nav {
  box-sizing: border-box;
  padding: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--nav-width);
}

nav>header {
  width: 100%;
  line-height: 0;
  height: var(--header-height);
}

nav>section {
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow-y: auto;
}

main {
  background-color: orange;
  box-sizing: border-box;
  padding: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - var(--nav-width));
}

main>header {
  background-color: brown;
  height: var(--header-height);
}

main>section {
  background-color: lightyellow;
  height: calc(100% - var(--header-height));
}

main>section>aside {
  background-color: lightgreen;
  float: right;
  top: var(--header-height);
  width: var(--aside-width);
  height: 100%;
  overflow-y: auto;
}

main>section>article {
  background-color: lightblue;
  width: calc(100% - var(--aside-width));
  height: 50%;
  white-space: nowrap;
  overflow-x: hidden;
}

main>section>footer {
  width: calc(100% - var(--aside-width));
  height: 50%;
  overflow: auto;
}

input {
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
}

input:hover {
  border-color: skyblue;
}

input:focus {
  outline: none;
  border-color: deepskyblue;
}
