:root {
  --header-height: 2em;
  --aside-width: 10em;
  --scrollbar-width: 20px;
  --light-background: white;
  --light-color: black;
  --dark-background: black;
  --dark-color: white;
  --font-size: x-large;
}

html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

body {
  display: flex;
}

nav {
  position: relative; /* for positioning children */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main>header {
  background-color: brown;
}

main>header>div { /* tab */
  position: relative;
  display: inline-block;
  width: 5em;
  border: solid thin;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 2px;
  padding-left: 5px;
  margin-right: 5px;
  line-height: 1.5em;
  white-space: nowrap;
  cursor: pointer;
}

main>header>div.highlight { /* tab */
  background-color: pink;
}

main>header>div>span:first-child { /* tab title */
  display: inline-block;
  width: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main>header>div>span:last-child { /* tab close */
  position: absolute;
  right: 5px;
  top: 1px;
}

main>section {
  flex: 1;
  display: flex;
}

main>section>.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

main>section>.content>article {
  flex: 1;
  background-color: lightblue;
  white-space: nowrap;
  overflow: hidden;
  position: relative; /* for positioning children */
}

main>section>.content>footer {
  height: 50%;
  overflow: hidden;
  position: relative; /* for positioning children */
}

main>section>aside {
  background-color: lightgreen;
  width: var(--aside-width);
  min-width: var(--aside-width);
  max-width: 50%;
  overflow: hidden;
  position: relative; /* for positioning children */
}

body, input {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: var(--font-size);
  overflow: hidden;
}

header {
  box-sizing: border-box;
  z-index: 1;
  position: sticky;
  top: 0;
  height: var(--header-height);
  line-height: var(--header-height);
  white-space: nowrap;
}

header>h1 {
  font-size: larger;
  display: inline-block;
  margin: 0;
  margin-left: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.scrollbox {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  height: calc(100% - var(--header-height));
  overflow-x: hidden;
  overflow-y: auto;
}

table {
  transform: translate3d(0, 0, 0); /* optimize scrolling */
  border-collapse: collapse;
  table-layout: fixed;
}

input {
  height: 100%;
  width: 100%;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
}

input:hover {
  border-color: skyblue;
}

input:focus {
  outline: none;
  border-color: deepskyblue;
}

button {
  white-space: nowrap;
}
