@font-face {
    font-family: "Fira Sans";
    src: url("./FiraSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Fira Sans";
    font-weight: bold;
    src: url("./FiraSans-Bold.otf") format("opentype");
}
